
.color-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: fit-content;
}

.color-picker-icon {
    box-shadow: black 0 0 5px -3px;
    cursor: pointer;
    border-radius: .5rem;
    transition: background-color .5s;
}

.color-label {
    white-space: nowrap;
    color: #6b6b6b;
}

.submit-text-element-input {
    outline: none;
    border: none;
    border-radius: .3rem 0 0 .3rem;
    padding: 0 .5rem;
}

.submit-text-element-btn {
    outline: none;
    border: none;
    border-radius: 0 .3rem .3rem 0;
}

.submit-text-element-input:focus {
    outline: none;
    border: none;
}