.folder {
    border: var(--theme-dark) 1px solid;
    width: 60px;
    height: 40px;
    border-radius: 2px;
    box-shadow: white -3px -3px 0 0,  var(--theme-dark) -5px -5px 0 0;
    cursor: pointer;
    transition: scale 1s;
}

.folder::before {
    content: '';
    width: 10px;
    display: flex;
    height: 5px;
    position: relative;
    outline: var(--theme-dark) 1px solid;
    top: 2px;
    left: 2px;
    border-radius: 2px;
}

.course-button {
    background-color: white;
    width: min(100vw, 300px);
    height: 70px;
    color: var(--theme-dark);
    box-shadow: black 0 0 2px 0;
    display: flex;
    border-radius: .5rem;
    justify-content: space-between;
}

.course-options-button {
    width: clamp(120px, 100%, 300px);
    padding: .5rem 1rem;
    background-color: white;
    color: black;
    box-sizing: border-box;
    box-shadow: black 0 0 2px 0;
    display: flex;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
}

.course-button-more-button {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 0 .5rem .5rem 0;
}

.course-button-more-button:hover {
    background-color: #eeeeee;
}

.course-button-middle-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: .5rem;
}

.name {
    font-size: clamp(13px, 2vw, 15px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.members {
    color: gray;
    font-size: clamp(9px, 2vw, 12px);
}

.code {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: gray 0 0 5px;
    padding: 1rem;
    border-radius: .5rem 0 0 .5rem;
    text-align: center;
}

.code h1 {
    font-size: clamp(13px, 4vw, 15px);
    font-weight: 500;
}

.section-header {
    width: 100%;
    border-radius: .3rem;
    /*background-color: var(--theme-light);*/
    margin-bottom: 5px;
    font-weight: 300;
    /*color: var(--theme-mid);*/
    padding: 1rem;
    box-sizing: border-box;
}

.cover-header {
    color: black;
}

.course-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.course-options-panel {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.course-info-popup {
    padding: 1rem;
    width: min(500px, 100vw);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 650px;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.course-name-container {
    display: flex;
    gap: 5px;
    margin: 1rem 0;
    justify-content: start;
    font-weight: 300;
}

.bottom-options-panel-course-info-popup {
    margin-top: 1rem;
    display: flex;
    gap: 5px;
    justify-content: end;
}

.options-button {
    text-align: center;
    width: 70px;
}

.meta-data {
    margin: 1rem 0;
    font-family: Roboto, arial, serif;
}

.collaborators {

}

.section-spacing {
    margin: 1rem 0;
}

.course-description {
}

.grow-text-field {
    width: 100%;
    margin: 1px;
    box-sizing: border-box;
    padding: .5rem;
}

.grow-text-field:focus {
    outline: none;
    border: none;
    box-shadow: black 0 1px 0 0;
}

.display {
    box-sizing: border-box;
    padding: 0 1rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100%, 340px);
}

.section-preview-card {
    width: min(100vw, 300px);
    background-color: white;
    box-shadow:
            black 0 0 5px -2px;
    box-sizing: border-box;
    border-radius: .3rem;
}

.section-card-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    font-weight: 400;
    font-size: 15px;
}

.card-top {
    padding: 1rem;
}

.card-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}


.section-code {
    font-size: 12px;
    font-weight: 500;
}

.section-code-card {
    display: flex;
    height: min-content;
}

.section-number-code {
    margin-left: 5px;
}

.section-none-text {
    text-align: center;
    grid-column: span 2;
}

.section-container {
    margin-top: 1rem;
    display: grid;
    gap: .5rem;
}

.dashboard-page {
    /*background-image: url("./background.svg");*/
    background-repeat: no-repeat;
    padding: 0 5rem;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
}

.dropdown-search-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown-search-item-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}

@media screen and (min-width: 925px) {
    .dashboard-page {
        align-items: start;
        justify-content: center;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .section-display {
        width: 640px;
    }

    .section-header {
        /*color: var(--theme-light);*/
    }

    .display {
        justify-self: start;
    }

    .section-container {
        grid-template-columns: 1fr 1fr;
    }

}