.tab-pane {

}

.tab-pane-border {
    border: var(--theme-light) 1px solid;
    padding: 1rem;
}

.tab-header {
    padding-left: 1rem;
    font-weight: 400;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.next-button {
    border: none;
    outline: none;
    padding: 1rem 2rem;
    margin: 0 .5rem;
    border-radius: .3rem;
}

.next-button:enabled {
    background-color: var(--theme-blue);
    color: white;
    cursor: pointer;
}

.meta-data-new-section {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
