.hero {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.underline {
    text-decoration: underline;
}

.wright-text {
    text-shadow: var(--theme-purple) 2px 2px 100px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo {
    font-size: 50px;
    width: 195px;
    aspect-ratio: 6/7;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", Arial, serif;
    background-image: var(--background-gradient);
    /*padding: 3rem;*/
    border-radius: 1rem;
    display: none;
    box-shadow: var(--theme-light) 12px 12px 0 -5px,
    var(--theme-purple) 30px 30px 0 -5px,
    var(--theme-light-blue) -30px -30px 0 -10px;

}

.logo-container {
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 20px;
    color: var(--logo-dark);
    background-color: #f6f4f4;
    font-family: 'Bebas Neue', Arial, serif;
    border-radius: .3rem;
}

.logo-text {
    font-family: Poppins, serif;
    height: fit-content;
    font-size: min(30px, 5vw);
    color: white;
    /*box-shadow: var(--theme-blue) 2px 2px 5px 0;*/
    border-radius: .5rem;
    padding: 1rem;
}

.text-shadow {
    box-shadow: black 0 0 10px;
}

.logo-c {
    color: var(--theme-light);
    display: inline-block;
}

.logo-w {
    text-decoration: underline;
    color: white;
    display: inline-block;
}

.nav-items {
    list-style-type: none;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.hover-link {
    cursor: pointer;
    text-decoration: none;
    color: var(--theme-dark);
    display: block;
    border-radius: .75rem;
    padding: .5rem 1rem;
    transition: background-color .7s;
}

.hover-link:hover {
    color: var(--theme-mid);
    box-shadow: var(--theme-light) 9px 9px 0 -5px, var(--theme-purple) 15px 15px 0 -5px, var(--theme-light-blue) -15px -15px 0 -7px;
}

.drawer-contents {
    padding: 3rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.card-layout {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: min(300px, 100%);
    color: var(--theme-mid);
    padding: .5rem .25rem;
    justify-self: center;
}

.card h2, .card p {
    text-align: center;
}

@media screen and (min-width: 925px) {
    .logo {
        display: flex;
    }
    .logo-text {
        box-shadow: white 0 0 3px 0;
    }

    .card-layout {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}