.header{
    font-weight: 300;
    display: block;
    padding: .5rem 1rem;
    text-align: center;
}
.sign-in {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem 1rem;
    color: var(--theme-dark);
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: black 0 0 5px -3px;
}

.sign-in p {
    text-align: center;
    font-weight: 300;
}
.sign-in a {
    color: black;
}
.form-button {
    display: flex;
    font-size: 1.3rem;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: black 0 0 5px -3px;
    padding: .5rem 1rem;
    font-weight: 300 !important;
    border-radius: .3rem;
}

.form-button-inverse {
    background-color: rgba(0, 128, 255, 0.07);
}

.google {
    font-weight: 300;
    cursor: pointer;
    box-shadow: black 0 0 5px -3px;
    padding: .5rem 1rem;
    box-sizing: border-box;
    border-radius: .3rem;
}

.sign-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url("./wave.svg");*/
    /*background-repeat: no-repeat;*/
}

@media screen and (min-width: 925px) {
    .sign-in-page {
        display: flex;
        align-items: start;
        flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 4rem 2rem;
    }

    .sign-in {
        box-shadow: var(--theme-light) 12px 12px 0 -5px,
        var(--theme-purple) 30px 30px 0 -5px,
        var(--theme-light-blue) -30px -30px 0 -10px;
    }
}
