.tag {
    box-shadow: black 0 0 5px -2px;
    border-radius: 1rem;
    padding: .10rem .5rem;
}

.tag-button {
    font-size: clamp(12px, 2vw, 15px);
    box-shadow: black 0 0 5px -2px;
    border-radius: 1rem;
    padding: min(1vw, .5rem) min(2vw, 1rem);
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: min-content;
    align-items: center;
    white-space: nowrap;
    gap: .25rem;
}

.tag-button-theme {
    box-shadow: var(--theme-light) 9px 9px 0 -5px, var(--theme-purple) 15px 15px 0 -5px, var(--theme-light-blue) -15px -15px 0 -7px;
}

.shadow {
    text-shadow: black 0 0 8px;
}

.section-header-label {
    text-shadow: black 0 0 20px;
    padding: .5rem;
    font-weight: 300;
    border-radius: .3rem;
    transition: background-color .5s;
}

.section-subheader-label {
    text-shadow: black 0 0 20px;
    padding: .2rem .5rem;
    font-weight: 300;
    border-radius: .3rem;
    transition: background-color .5s;
}