
.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 998;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.32);
    overflow: hidden;
}

.modal {
    z-index: 999;
    background-color: white;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-button-group {
    gap: 2px;
    display: flex;
    justify-content: end;
    width: 100%;
}

.confirm-modal {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    width: min(100vw, 400px);
    box-sizing: border-box;
}

.confirm-text {
    font-weight: 300;
    font-size: 1.5rem;
}

.submessage {
    color: rgba(128, 128, 128, 0.56);
}