
.control-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.control-block {
    display: flex;
}

.control-item-disabled {
    color: lightgray;
}

.left-div {
    border-left: 1px solid var(--theme-light);
    padding-left: 1rem;
}

.control-item {
    padding: .5rem 1rem;
    border-left: 1px solid var(--theme-light);
    border-right: 1px solid var(--theme-light);
    transition: background-color .5s;
}

.control-item-toggle {
    padding: .5rem 1rem;
    border-left: 1px solid var(--theme-light);
    border-right: 1px solid var(--theme-light);
    transition: background-color .5s;
}

.control-item-selected {
    background-color: #f3f3f3;
    color: var(--theme-blue);
}

.control-item-enabled:hover {
    cursor: pointer;
    background-color: var(--theme-light);
    /* I'm getting better at this. */
    /*box-shadow: var(--theme-light) 9px 9px 0 -5px, var(--theme-purple) 15px 15px 0 -5px, var(--theme-light-blue) -15px -15px 0 -7px;*/
}

.right-div {
    border-right: 1px solid var(--theme-light);
}