.create-new-section {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.return-to-dash-btn {
    background-color: transparent;
    border: white;
    outline: white;
    position: fixed;
    bottom: 2rem;
    left: 1rem;
    box-shadow: black 0 0 5px -2px;
    border-radius: 50%;
    cursor: pointer;
}

.section-options-panel {
    box-sizing: border-box;
}

.section-course-name-header {
    margin: 1rem 0;
    border-radius: .3rem;
    font-weight: 400;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.section-code-section {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: space-between;
    box-sizing: border-box;
}

.section-code {
}

.section-codes {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: start;
    gap: 1rem;
}

.members-section {

}

.teachers-section {

}

.section-create-button {
    padding: 1rem 2rem;
    border: none;
    outline: none;
    border-radius: .3rem;
}

.section-create-button:enabled {
    background-color: var(--theme-blue);
    color: white;
    cursor: pointer;
}

.padding {
    padding: 1rem;
}

.section-block {
    box-sizing: border-box;
    width: min(100vw, 400px);
}

.new-section-btn {
    margin-top: 2rem;
    display: flex;
    height: min-content;
    justify-content: center;
    align-items: center;
    box-shadow: black 0 0 5px -2px;
    border-radius: .3rem;
    cursor: pointer;
}

.remove-section-btn {
    position: relative;
    border-radius: 50%;
    box-shadow: black 0 0 5px -2px;
}

@media screen and (min-width: 925px) {
    .section-options-panel {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        box-shadow: black 0 0 5px -2px;
        padding: 1rem;
        border-radius: .3rem;
    }
}