.btn {
    border-radius: 5px;
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-primary {
    background-color: var(--theme-blue);
    color: white;
}

.btn-secondary {
    background-color: var(--theme-purple);
    color: white;
}

.btn-gray {
    background-color: var(--theme-mid);
    color: white;
}

.btn-danger {
    background-color: rgba(139, 0, 0, 0.36);
    color: white;
}

.btn-transparent {
    background-color: transparent;
    color: var(--theme-dark);
}

.btn-normal {
    background-color: white;
    color: var(--theme-dark);
}

.btn-blank {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.bg-dark {
    background-color: var(--theme-dark);
}

.fw-thin {
    font-weight: 300;
}

.underline {
    text-decoration: underline;
}

.input {
    font-weight: 200;
    background-color: white;
    outline: none;
    border: none;
    box-shadow: black 0 0 5px -3px;
    color: var(--theme-dark);
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.input:focus {
    outline: var(--theme-blue) 1px solid;
}

.fs-md {
    font-size: 1.5rem;
}

.fs-lg {
    font-size: 2rem;
}

.fs-sm {
    font-size: .5rem;
}


.logo-font {
    font-family: 'Bebas Neue', Arial, serif;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-around {
    justify-content: space-around;
}

.h-min {
    height: min-content;
}

.w-min {
    height: min-content;
}

.sm-container {
    width: min(400px, 100%);
}

.bg-icon {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: .5rem;
}

p, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

.icon-group {
    justify-content: center;
    align-items: center;
    display: flex;
}

.icon-group-icon {
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.linkable {
    text-decoration: underline;
    cursor: pointer;
}

.linkable-hover {
    cursor: pointer;
}

.linkable-hover:hover {
    text-decoration: underline;
}

.text-dark {
    color: var(--theme-dark);
}

.text-light {
    color: #9b9b9b;
}

.text-white {
    color: white;
}

.text-medium {
    color: #656565;
}

.label {
    padding: .25rem .5rem;
    background-color: gray;
    color: white;
    border-radius: .5rem 0 0 .5rem;
}

.nowrap {
    white-space: nowrap;
}

hr {
    height: 50%;
}

.left-button-group {
    padding: 1rem;
    border-top: lightgray 1px solid;
    border-right: lightgray 1px solid;
    transition: background-color .5s;
}

.right-button-group {
    padding: 1rem;
    border-top: lightgray 1px solid;
    border-left: lightgray 1px solid;
    transition: background-color .5s;
}

.left-button-group:hover {
    background-color: #f3f3f3;
}

.right-button-group:hover {
    background-color: #f3f3f3;
}

.card-button-text {
    font-weight: 400;
}

.success-theme {
    background-color: var(--success-bg);
    color: var(--success-text);
}

.warning-theme {
    background-color: #cece7c;
    color: #757542;
}

.danger-theme {
    background-color: #b28080;
    color: #623a3a;
}

.w-full {
    width: 100%;
}