@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, serif;
}

html, body, .root {
    scroll-behavior: smooth;
}

.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --theme-purple: rgb(98, 0, 187);
    --theme-blue: rgb(22, 83, 187);
    --theme-light-blue: rgb(0, 128, 255);
    --theme-light: rgb(206, 206, 206);
    --light-text: rgb(157, 157, 157);
    --theme-mid: rgb(100, 100, 100);
    --theme-dark: rgb(50, 50, 50);
    --logo-dark: rgb(182, 182, 182);
    --success-bg: #b7dcb7;
    --success-text: #426742;
    --background-gradient: linear-gradient(45deg, var(--theme-blue), var(--theme-light-blue), var(--theme-purple) 90%);
}

.gradient-text {
    background-image: var(--background-gradient);
    -webkit-background-clip: text;
    -moz-webkit-background-clip: text;
    -ms-webkit-background-clip: text;
    -o-webkit-background-clip: text;
    -khtml-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    width: 100%;
    height: 100%;
    background-color: var(--theme-dark);
}

.icon-link {
    display: flex;
}