

.create-course-page {
    width: min(100vw, 600px);
}

.new-course-header {
    color: var(--light-text);
    border-radius: .3rem;
    box-sizing: border-box;
    margin: 0 1rem;
    background-color: white;
    padding: 1rem;
}

.new-course-header-user-defined {
}

.create-course-section {
    border-radius: .3rem;
    box-sizing: border-box;
    padding: 1rem;
}

.create-course-body {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

@media screen and (min-width: 925px) {
    .create-course-page {
        width: min(100vw, 1300px);
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        padding: 0 3rem;
    }

    .create-course-section {
        box-shadow: black 0 0 5px -2px;
    }
}