.course-page {

}
.course-name-header-container {
    color: var(--light-text);
    border-radius: .3rem;
    box-sizing: border-box;
    margin: 0 1rem;
    background-color: white;
    padding: 1rem;
}
.course-name-header {
    font-weight: 400;
    font-size: clamp(15px, 3vw ,30px);
}

.course-page-directories-view {

}

.directory-card {
    box-sizing: border-box;
    margin: 1rem;
    box-shadow: black 0 0 5px -2px;
    color: var(--theme-dark);
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.directory-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.directory-card-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.directory-card-items {
    background-color: white;
}

.directory-item {
    box-shadow: black 0 0 5px -2px;
    padding: .5rem 1rem;
    margin-top: .5rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: .3rem;
    transition: background-color .2s;
    cursor: pointer;
    align-items: center;
}

.directory-item:hover {
    background-color: lightgray;
}

.directory-item-name {
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-items-text {
    text-align: center;
    color: var(--light-text);
}

.directory-toolbar {
    margin-top: 1rem;
}

.course-new-resource {
    display: grid;
    gap: .5rem;
}

.course-new-resource div {
    border-radius: .7rem;
    display: flex;
    color: #313131;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    transition: color .2s, background-color .2s;
    width: min(300px, 90vw);
    cursor: pointer;
}
.course-new-resource div:hover {
    background-color: white;
    /*background-image: var(--background-gradient);*/
    box-shadow: var(--theme-light) 9px 9px 0 -5px, var(--theme-purple) 15px 15px 0 -5px, var(--theme-light-blue) -15px -15px 0 -7px;
    color: black;
}

.link-resource-modal {
    gap: .3rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: min(90vw, 300px);
}

.link-resource-input {
    outline: none;
    border: 1px gray solid;
    padding: .5rem;
    font-size: 15px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr .2fr;
}

.link-resource-input-title {
    border-radius: .3rem;
}

.link-resource-input-url {
    border-radius: .3rem 0 0 .3rem;
}

.text-btn {
    border-radius: 0 .3rem .3rem 0;
    border: none;
    outline: none;
    background-color: var(--theme-blue);
    color:white;
    transition: background-color .5s;
    cursor: pointer;
}

.text-btn:disabled {
    color: gray;
    cursor: initial;
    background-color: lightgray;
}

.valid-url {
    color: var(--theme-blue);
    text-decoration: underline;
}

.link-resource-add-btn {
    cursor:pointer;
    border: none;
    outline: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    background-color: white;
    box-shadow: black 0 0 5px -2px;
    color: var(--theme-blue);
    transition: background-color .5s;
}

.link-resource-add-btn:disabled {
    color: lightgray;
    cursor: initial;
    background-color: gray;
}

@media screen and (min-width: 925px) {

}